---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Portfolio de Renzo - Desarrollador y Programador web">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Hey, soy Renzo <div class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></div>
			</h1>
			<h2 class="text-xl">+15 años de experiencia. Desarrollador Web y Creador de Contenido. De Buenos Aires, Argentina. Especializado en crear aplicaciones únicas</h2>
			<ul></ul>
		</section>

	</main>
</Layout>

