---
import CardParallax from './CardParallax.astro'
import Resume from './Resume.astro'
import Download from './icons/Download.astro';
import SocialPill from './SocialPill.astro';
const title = 'Renzo_Espinosa_CV',
      url = 'https://drive.google.com/file/d/1kLTosdbQRg0hmeUBuc88FBue0d4IhnOF/view?usp=drive_link' 

---


<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row mx-auto">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi viaje comenzó a los 12 años, cuando ingresé a una escuela técnica y me sumergí en el universo de la tecnología. Allí,<strong> aprendí los fundamentos de la informática y exploré diferentes lenguajes de programación
        </strong>. Además participé en proyectos que desafiaron mi creatividad y habilidades técnicas.
    </p>

    <p>
      Graduarme marcó el inicio de <strong
        >mi trayectoria en el desarrollo de software.</strong
      > La sólida base que obtuve durante esos años formativos me permitio construir mi carrera en el emocionante y siempre evolutivo campo de la 
      programación.
    </p>

    <p>
      Cada línea de código que escribo hoy tiene sus raíces en esos días de escuela técnica, pero mi aprendizaje no se limitó a aquellas aulas. He sido un ávido autodidacta, especialmente en lenguajes clásicos como <strong
        >JavaScript.</strong
      >Actualmente, me encuentro cursando la Licenciatura en la Universidad Nacional de Quilmes, pero siempre que sea posible, aplico 
      mi pasión por desarrollar con <strong
      > bibliotecas y frameworks modernos de JavaScript, como React.js y Astro.</strong>
    </p>
  </div>

    <CardParallax ></CardParallax>

    
    
    
    
    
  </article>


<div  class="mt-10 container lg:max-w-4xl md:max-w-2xl mb-5 flex justify-center">

  <SocialPill href={url}>
    <Download class="size-4" />
    Download CV
  </SocialPill>

</div>
