---
 import CardParallax from './CardParallax.astro'

---


<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi viaje comenzó a los 12 años, cuando ingresé a una escuela técnica y me sumergí en el universo de la tecnología. Allí,<strong> aprendí los fundamentos de la informática y exploré diferentes lenguajes de programación
        </strong>. Además participé en proyectos que desafiaron mi creatividad y habilidades técnicas.
    </p>

    <p>
      Graduarme marcó el inicio de <strong
        >mi trayectoria en el desarrollo de software.</strong
      > La sólida base que obtuve durante esos años formativos me permitio construir mi carrera en el emocionante y siempre evolutivo campo de la 
      programación.
    </p>

    <p>
      Cada línea de código que escribo hoy tiene sus raíces en esos días de escuela técnica, pero mi aprendizaje no se limitó a aquellas aulas. He sido un ávido autodidacta, especialmente en lenguajes clásicos como <strong
        >JavaScript.</strong
      >Actualmente, me encuentro cursando la Licenciatura en la Universidad Nacional de Quilmes, pero siempre que sea posible, aplico 
      mi pasión por desarrollar con <strong
      > bibliotecas y frameworks modernos de JavaScript, como React.js y Astro.</strong>
    </p>
  </div>

    <CardParallax ></CardParallax>
     


  

</article>

