<!-- <div class="flex items-center ">
    <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
      <span
        class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"
      ></span>
      <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap">
        <slot />
      </div>
    </span>
    </div> -->
<div
  class="available text-white bg-available border border-solid border-skyBlue rounded-full py-1 px-3 text-sm inline-block"
>
  <slot />
</div>
<style>
  .available {
    position: relative;
    transition: transform 1s;
    border: solid 3px transparent; /* Define un borde transparente para mantener el espacio para el gradiente */
    background-image: linear-gradient(
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(to right, rgb(255, 127, 251), rgb(122, 200, 255));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 0 0 3px transparent; /* Se usa para mantener el espacio del borde antes del hover */
  }
  /*  ARREGLAR FONDO A TRANSPARENTE */
  .available:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px 3px rgba(161, 93, 255, 0.631); /* Aumenta el desenfoque para más suavidad */
    border-color: transparent; /* Mantiene el borde transparente en hover */
  }
</style>
