<div
  class="available text-whiteborder  rounded-full py-1 px-3 text-sm inline-block"
>
    <div class="body">
      <slot />
    </div>
</div>
<style>

  .available {
    position: relative;
    height:35px;
    width: 180px;
    transition: transform 1s;    
    background: linear-gradient(100deg, rgba(186, 100, 243, 0.807), rgba(117, 204, 255, 0.798));
    padding: 4px;
    border-radius: 16px;
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #192152;
}

  .available:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px 3px rgba(96, 36, 179, 0.336); /* Aumenta el desenfoque para más suavidad */
    border-color: transparent; /* Mantiene el borde transparente en hover */
    cursor: pointer;
  }
</style>
