@keyframes move {
	to {
		/* Mover horizontalmente para que el borde derecho se alinee con el viewport */
		transform: translateX(calc(-100% + 100vw));
	}
}

#sectionPin {
	/* Estirarlo para crear espacio para la animación de desplazamiento horizontal */
	height: 500vh;
	overflow: visible; /* Para que funcione position: sticky ... */

	view-timeline-name: --section-pin-tl;
	view-timeline-axis: block;
}

.pin-wrap-sticky {
	/* Fijar en la parte superior */
	height: 100vh;
	width: 100vw;
	position: sticky;
	top: 0;

	width: 100vw;
	overflow-x: hidden;
}

.pin-wrap {
	height: 100vh;
	width: 250vmax;

	/* Preparar para la animación */
	will-change: transform;
	animation: linear move forwards;

	/* Vincular la animación a view-timeline */
	animation-timeline: --section-pin-tl;
	animation-range: contain 0% contain 100%;
}

/* Al estirar #sectionPin a una altura de 500vh, se crea más espacio de desplazamiento. Se adjunta un ViewTimeline a ese elemento, rastreándolo mientras cruza el puerto de desplazamiento.

El elemento intermedio .pin-wrap-sticky se fija, y es el .pin-wrap el que se anima en el ViewTimeline.

La posición inicial de la franja horizontal .pin-wrap es en 0,0 dentro de su contenedor. Su posición final es una traslación horizontal del -100%, a la cual se suma el ancho del viewport. Si no se tuviera en cuenta el ancho del viewport, el elemento estaría completamente fuera de la vista. */

