---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Marzo 2023 -  Agosto 2023",
    title: "Profesor de Prácticas Profecionalizantes",
    company: "Escuela Técnica N° 12 - Libertador Gral. José de San Martín",
    description:
      " Impartí clases de desarrollo web y programación a alumnos de una escuela técnica. Facilité la comprensión de conceptos técnicos, fortalecí mi habilidad para trabajar en equipo y fomenté la creatividad en proyectos. Participamos de la propuesta educativa de “Generación T” donde se daban diversas tecnologías aplicadas a un proyecto final.",
    link: "https://generaciont.org/",
  },
  {
    date: "JULIO 2021 - DICIEMBRE 2021",
    title: "Pasantía - Desarrollador Frontend",
    company: "Vivencia Baires",
    description:
      "Desempeñé el rol de Desarrollador Frontend. Mis responsabilidades abarcaron pruebas de software, facilitar conexiones seguras con wallets, documentar de manera técnica y asegurar el rendimiento de los sistemas.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>