---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Marzo 2023 -  Agosto 2023",
    title: "Profesor de Prácticas Profesionalizantes",
    company: "Escuela Técnica N° 12 - Libertador Gral. José de San Martín",
    description:
      " Impartí clases de desarrollo web y programación a alumnos de una escuela técnica. Facilité la comprensión de conceptos técnicos, fortalecí mi habilidad para trabajar en equipo y fomenté la creatividad en proyectos. Participamos de la propuesta educativa de “Generación T” donde se daban diversas tecnologías aplicadas a un proyecto final.",
    link: "https://generaciont.org/",
  },
  {
    date: "JULIO 2021 - DICIEMBRE 2021",
    title: "Pasantía - Desarrollador Frontend",
    company: "Vivencia Baires",
    description:
      "Desempeñé el rol de Desarrollador Frontend. Mis responsabilidades abarcaron pruebas de software, facilitar conexiones seguras con wallets, documentar de manera técnica y asegurar el rendimiento de los sistemas.",
  },
  {
    date: "ENERO 2022",
    title: "Licenciatura en informática",
    company: "Universidad de Quilmes",
    description:
      "Estudiante de la Licenciatura en Informática, participo en proyectos prácticos, investigaciones, prácticas profesionales, conferencias y certificaciones.",
  },
  {
    date: "FEBRERO 2014 - ENERO 2021",
    title: "Técnicatura en programación",
    company: "Jose Hernández EEST N°7",
    description:
      "Graduado de Técnico en programación, aprendí paradigmas de la programación, modelos y sistemas, implementación de páginas web estáticas y dinámicas, diagrama de flujo, base de datos, emprendimiento productivo y desarrollo.",
  },
]
---

<ol class="relative mx-auto">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>