---
import ThemeToggle from "./ThemeToggle.astro"

import hamburguerMenu from "./menu_hamburguesa.js"

const navItems = [
  {
    title: "Home",
    label: "home",
    url: "/#home",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Tecnologias",
    label: "tecnologias",
    url: "/#tecnologias",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  // {
  //   title: "Currículum",
  //   label: "curriculum",
  //   url: "https://drive.google.com/file/d/1kLTosdbQRg0hmeUBuc88FBue0d4IhnOF/view?usp=drive_link",
  // },
]
---


<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto"
>
  <button
  class="panel-btn text-xl lg:hidden mr-20"
  aria-label="Toggle Menu"
  onclick="{toggleMenu}"
  >
  ☰
</button>
  <div class="panel ">
    <nav
      class="px-3 text-sm font-medium text-light1 dark:text-[#cccbcb] justify-center items-center"
    >
      {
        navItems.map((link) => (
          <li class="hidden lg:block">
            <a
              aria-label={link.label}
              href={link.url}
            >
              {link.title}
            </a>
            
          </li>
        ))
      }
        <ThemeToggle />
    </nav>
  </div>
</header>

<style>

  .cont1{
    display: flex;
    justify-content: center;
    align-items:flex-end;
  }


nav {
  animation: nav-shadown 1s linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;
  border-radius: 10px;
}

button{
  animation: button-shadown 1s linear both;
  border-radius: 200px;
  width: 50px;
  height: 20px;
  margin-top: .87rem;
}

nav {
  position: fixed;
  top: 2.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

nav li {
  list-style: none;

}

nav a {
  position: relative;
  display: flex;
  margin: 5px 0px;
  padding: 5px 0px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: .5s;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 10vw;
}


nav a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #3448AF56;
  border-bottom: 2px solid #3448AF56;
  border-radius: 2px;
  transform: scaleY(2);
  opacity: 0;
  transition: .3s;
  /* box-shadow: 0 4px 10px #A0D7FF; */
}

nav a:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3448AF56;
  /* box-shadow: 0 4px 6px #a0d7ff60; */
  transform: scale(0);
  opacity: 0;
  transition: .3s;
  z-index: -1;
}

nav a:hover {
  color: #ffffff;
}

nav a:hover:before {
  transform: scaleY(1);
  opacity: 1;
}

nav a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

.panel{
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform .3s ease;
}
  

  @keyframes nav-shadown {
    to {
      @apply backdrop-blur bg-[#2c235571];
      /*   */
    }
  }
  @keyframes button-shadown {
    to {
      @apply backdrop-blur bg-[#2c235571];
      /*   */
    }
  }

  @media screen and (max-width: 1036px) {
  nav a {
    margin: 10px 0; 
    padding: 0px 10px;
    width: 20vw;
  }
}

@media screen and (max-width: 1036px) {
  nav {
    margin-top: 200px;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: #263a9c62;
    backdrop-filter: blur(8px);
  }

  .panel{
    position: fixed;
    transform: translate(0,-50%);
  }

  .panel.is-active{
    transform: translate(0,0);
  }

  li{
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.3 ease;
  }
}



  @media screen and (max-width: 1420px) {
  nav a {
    width: 16vw;
  }
}
</style>

<script is:inline>

document.addEventListener("DOMContentLoaded",(e)=>{
  hamburguerMenu('.panel-btn', '.panel')
})
</script>