---
import ThemeToggle from "./ThemeToggle.astro"

const navItems = [
  {
    title: "Home",
    label: "home",
    url: "/#home",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Tecnologias",
    label: "tecnologias",
    url: "/#tecnologias",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  // {
  //   title: "Currículum",
  //   label: "curriculum",
  //   url: "https://drive.google.com/file/d/1kLTosdbQRg0hmeUBuc88FBue0d4IhnOF/view?usp=drive_link",
  // },
]
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto"
>
  <nav
    class="flex px-3 text-sm font-medium text-[#bc5050] dark:text-[#cccbcb] justify-center items-center"
  >
    {
      navItems.map((link) => (
        <li>
          <a
            aria-label={link.label}
            href={link.url}
          >
            {link.title}
          </a>
          
        </li>
      ))
    }
      <ThemeToggle />
  </nav>
</header>


<style>
nav {
  animation: nav-shadown 1s linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;
  border-radius: 10px;
}

nav {
  position: fixed;
  top: 2.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

nav li {
  list-style: none;

}

nav a {
  position: relative;
  display: flex;
  margin: 5px 0px;
  padding: 5px 0px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  transition: .5s;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 10vw;
}

nav a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #263a9c4b;
  border-bottom: 2px solid #263a9c4b;
  border-radius: 2px;
  transform: scaleY(2);
  opacity: 0;
  transition: .3s;
  /* box-shadow: 0 4px 10px #A0D7FF; */
}

nav a:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #263a9c4b;
  /* box-shadow: 0 4px 6px #a0d7ff60; */
  transform: scale(0);
  opacity: 0;
  transition: .3s;
  z-index: -1;
}

nav a:hover {
  color: #ffffff;
}

nav a:hover:before {
  transform: scaleY(1);
  opacity: 1;
}

nav a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}
  

  @keyframes nav-shadown {
    to {
      @apply backdrop-blur bg-[#1a153171];
      /*   */
    }
  }

  @media screen and (max-width: 1036px) {
  nav a {
    margin: 10px 0; 
    padding: 0px 10px;
    width: 20vw;
  }
}

  @media screen and (max-width: 1420px) {
  nav a {
    width: 16vw;
  }
}
</style>