---
const personalImageAlt = "Renzo Espinosa"
const borderImageAlt = "Border Image"
import Badge from "./Badge.astro"
import LinkedInIcon from "./icons/LinkedIn.astro"
import MailIcon from "./icons/Mail.astro"
import GitHubIcon from "./icons/GitHub.astro"
import SocialPill from "./SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 ">
    <div class="superponer relative">
      <img
        class="img-1 rounded-full shadow-lg absolute top-0 left-0 w-full h-full transform scale-90"
        src="/renzo.webp"
        alt={personalImageAlt}
      />

      <img
        class="img-2 rounded full absolute w-full h-full mix-blend-mode-overlay transform scale-105"
        src="/border-img.png"
        alt={borderImageAlt}
      />

      <img
        class="img-2 rounded full absolute w-full h-full mix-blend-mode-overlay transform scale-105"
        src="/border-img.png"
        alt={borderImageAlt}
      />

    </div>
    <a
      href="https://linkedin.com/in/renzo-espinosa-barcos"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105 mt-12 ml-8"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>

  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Soy Renzo Barcos
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-patito [&>strong]:text-patito [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong
      >Frontend Dev y Técnico en Programación</strong
    > de Buenos Aires, Argentina 🇦🇷. Dedicado a desarrollar aplicaciones web únicas. 
  </p>
    
    <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-patito [&>strong]:text-patito [&>strong]:font-semibold dark:text-gray-300"> Escribime en: 
      <strong>
        renzoespinosa.b@gmail.com
      </strong>
       </p>
        

  

  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:miduga@gmail.com">
      <MailIcon class="size-4" />
      Gmail
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/renzo-espinosa-barcos">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/respp">
      <GitHubIcon class="size-4" />
      Github
    </SocialPill>
  </nav>
</div>

<style>
  .mix-blend-mode-overlay {
    mix-blend-mode: overlay;
  }

  .superponer {
    width: 13vh; 
    height: 13vh;
  }
  
  .superponer img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .img-2{
  filter: brightness(1.5); 
  }


</style>