---
const { href } = Astro.props
---

<a href={href} role="link" target="_blank" class="inline-flex items-center text-lg font-medium text-light1 dark:text-[#a0e9ff] hover:text-[#a0b4ff] transition-colors duration-200 ease-in-out">
  <slot />
</a>