<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1
  
  dark:text-white transition dark:bg-less border text-gray-800 border-gray-800 dark:border-patito rounded-full text-md focus-visible:patito focus-visible:ring-offset-2"
>
  <slot />
</a>
