<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1
  
  text-white transition bg-less border border-patito rounded-full text-md focus-visible:patito focus-visible:ring-offset-2
 active:bg-black"
>
  <slot />
</a>
