---
import Html from '../components/icons/Html.astro'
import Css from '../components/icons/Css.astro'
import Js from '../components/icons/Js.astro'
import Ts from '../components/icons/Ts.astro'
import React from '../components/icons/React.astro'
import Redux from '../components/icons/Redux.astro'
import Python from '../components/icons/Python.astro'
import Rocket from '../components/icons/Rocket.astro'
import Tailwind from '../components/icons/Tailwind.astro'
import Next from '../components/icons/NextJS.astro'
import Sass from '../components/icons/Sass.astro'
import Bootstrap from '../components/icons/Bootstrap.astro'
import Figma from '../components/icons/Figma.astro'
import Php from '../components/icons/Php.astro'
import NextJS from './icons/NextJS.astro'
import Vs from './icons/Vs.astro'
import Git from './icons/Git.astro'
import Npm from './icons/Npm.astro'
import Terminal from './icons/Terminal.astro'
import GitHub from './icons/GitHub.astro'
import Mysql from './icons/MySql.astro'
import Apache from './icons/Apache.astro'


---

<section class="grid lg:grid-cols-2 lg:grid-rows-2 gap-6 lg:place-content-center">

    <div class="card dark:bg-yellow-500/5  rounded-2xl ring-1 ring-white/20 ">
    <article class="relative rounded-2xl p-6 dark:border  dark:border-dark-900 bg-gradient-to-r  dark:from-dark-950 dark:to-black shadow-2xl overflow-hidden false">
    <div class="pointer-events-none absolute -inset-px opacity-0 transition duration-300" style="opacity: 0; background: radial-gradient(600px at 342px 13.0156px, rgba(255, 182, 255, 0.1), transparent 40%);"></div>
    <h3 class="text-center mb-8 text-3xl font-bold  lg:text-4xl lg:break-words bg-gradient-to-t from-[#54a7ff] to-[#2d43b3] dark:from-[#8c9adf] dark:to-[#2329d1] bg-clip-text  text-transparent">Front</h3>
    <ul class="grid grid-cols-3 gap-4 ">
        <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#E34F26]">
        <Html class="size-16 group-hover:text-[#E34F26]"/>    
        
        
        <span class="transition-colors duration-300 ease-in-out group-hover:text-[#E34F26]" >HTML</span>   
        </li>
        <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-blue-500">
            <Css class="size-12 mb-2 mt-1 group-hover:text-blue-500"/>    
            
            
            <span class="transition-colors duration-300 ease-in-out group-hover:text-blue-500" >CSS</span>   
        </li>
        <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#F7DF1E] pb-1">
            <Js class="size-16 group-hover:text-[#F7DF1E]"/>    
            
            
            <span class="transition-colors duration-300 ease-in-out group-hover:text-[#F7DF1E]" >JavaScript</span>   
        </li>
        <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#61DAFB]">
            <React class="size-16 group-hover:text-[#61DAFB]"/>    
            
            
            <span class="transition-colors duration-300 ease-in-out group-hover:text-[#61DAFB]" >React</span>   
        </li>
        <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#0ACF83]">
            <Figma class="size-12 mb-2 mt-2 group-hover:text-[#0ACF83]"/>    
            
            
            <span class="transition-colors duration-300 ease-in-out group-hover:text-[#0ACF83]" >Figma</span>   
        </li>
        <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#38B2AC]">
            <Tailwind class="size-16 group-hover:text-[#38B2AC]"/>    
            
            
            <span class="transition-colors duration-300 ease-in-out group-hover:text-[#38B2AC]" >TailwindCSS</span>   
        </li>
        <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#563D7C]">
            <Bootstrap class="size-16 group-hover:text-[#563D7C]"/>    
            
            
            <span class="transition-colors duration-300 ease-in-out group-hover:text-[#563D7C]" >Bootstrap</span>   
        </li>
        <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#CC6699]">
            <Sass class="size-16 pl-1 group-hover:text-[#CC6699]" />    
            
            
            <span class="transition-colors duration-300 ease-in-out group-hover:text-[#CC6699]" >>SASS</span>   
        </li>
    </ul>
    </article>
</div>

    <article class="relative rounded-2xl p-6 dark:border  dark:border-dark-900 bg-gradient-to-r  dark:from-dark-950 dark:to-black shadow-2xl overflow-hidden false">
        <div class="pointer-events-none absolute -inset-px opacity-0 transition duration-300" style="opacity: 0; background: radial-gradient(600px at 342px 13.0156px, rgba(255, 182, 255, 0.1), transparent 40%);"></div>
        <h3 class="text-center mb-8 text-3xl font-bold  lg:text-4xl lg:break-words bg-gradient-to-t from-[#7be696] to-[#07d1ca] dark:from-[#c9fffe] dark:to-[#00704A] bg-clip-text  text-transparent">Back</h3>


        <ul class="grid grid-cols-3 gap-4 ">
            <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#8892BF]">
            <Php class="size-16 group-hover:text-[#8892BF]"/>    
            
            
            <span class="transition-colors duration-300 ease-in-out group-hover:text-[#8892BF]" >PHP</span>   
            </li>
            <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#00758F]">
                <Mysql class="size-16 group-hover:text-[#00758F]"/>    
                
                
                <span class="transition-colors duration-300 ease-in-out group-hover:text-[#00758F]" >MySQL</span>   
            </li>
            <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#cc6f72]">
                <Apache class="size-16 group-hover:text-[#cc6f72]"/>    
                
                
                <span class="transition-colors duration-300 ease-in-out group-hover:text-[#cc6f72]" >Apache</span>   
            </li>
            
        </ul>
        </article>

        <article class="relative rounded-2xl p-6 dark:border  dark:border-dark-900 bg-gradient-to-r  dark:from-dark-950 dark:to-black shadow-2xl overflow-hidden false">
            <div class="pointer-events-none absolute -inset-px opacity-0 transition duration-300" style="opacity: 0; background: radial-gradient(600px at 342px 13.0156px, rgba(255, 182, 255, 0.1), transparent 40%);"></div>
            <h3 class="text-center mb-8 text-3xl font-bold  lg:text-4xl lg:break-words bg-gradient-to-t from-[#54fbff] to-[#00a4c9] dark:from-[#c9fffe] dark:to-[#00cfef] bg-clip-text  text-transparent ">Aprendiendo</h3>
            <ul class="grid grid-cols-3 gap-4 ">
                <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#292929]">
                <NextJS class="size-16 group-hover:text-[#292929]"/>    
                
                
                <span class="transition-colors duration-300 ease-in-out group-hover:text-[#292929]" >NextJS</span>   
                </li>
                <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#306998]">
                    <Python class="size-16 group-hover:text-[#306998]"/>    
                    
                    
                    <span class="transition-colors duration-300 ease-in-out group-hover:text-[#306998]" >Python</span>   
                </li>
                <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#764ABC]">
                    <Redux class="size-16 group-hover:text-[#764ABC]"/>    
                    
                    
                    <span class="transition-colors duration-300 ease-in-out group-hover:text-[#764ABC]" >Redux</span>   
                </li>
                <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#d45f3b]">
                    <Rocket class="size-16 pl-1 group-hover:text-[#d45f3b]"/>    
                    
                    <span class="transition-colors duration-300 ease-in-out group-hover:text-[#d45f3b]" >Astro</span>   
                </li>
            </ul>
            </article>

            <article class="relative rounded-2xl p-6 dark:border  dark:border-dark-900 bg-gradient-to-r  dark:from-dark-950 dark:to-black shadow-2xl overflow-hidden false">
                <div class="pointer-events-none absolute -inset-px opacity-0 transition duration-300" style="opacity: 0; background: radial-gradient(600px at 342px 13.0156px, rgba(255, 182, 255, 0.1), transparent 40%);"></div>
                <h3 class="text-center mb-8 text-3xl font-bold  lg:text-4xl lg:break-words bg-gradient-to-t from-[#54fbff] to-[#00a4c9] dark:from-[#c9fffe] dark:to-[#00cfef] bg-clip-text  text-transparent">Tools</h3>

                <ul class="grid grid-cols-3 gap-4 ">
                    <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#007ACC]">
                    <Vs class="size-16 group-hover:text-[#007ACC]"/>    
                    
                    
                    <span class="transition-colors duration-300 ease-in-out group-hover:text-[#007ACC]" >VSCode</span>   
                    </li>
                    <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#F05032]">
                        <Git class="size-16 group-hover:text-[#F05032]"/>    
                        
                        
                        <span class="transition-colors duration-300 ease-in-out group-hover:text-[#F05032]" > Git</span>   
                    </li>
                    <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#CB3837] pb-1">
                        <Npm class="size-16 pt-1 group-hover:text-[#CB3837]"/>    
                        
                        
                        <span class="transition-colors duration-300 ease-in-out group-hover:text-[#CB3837]" >npm</span>   
                    </li>
                    <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#4078c0]">
                        <GitHub class="size-14 group-hover:text-[#4078c0]"/>    
                        
                        
                        <span class="transition-colors duration-300 ease-in-out group-hover:text-[#4078c0]" >GitHub</span>   
                    </li>
                    <li class=" rounded-2xl  group flex flex-col fle justify-center items-center border-2 border-transparent hover:border-[#7c7c7c] pb-2 ">
                        <Terminal class="size-16 p-1 group-hover:text-[#7c7c7c]"/>    
                        
                        <span class="transition-colors duration-300 ease-in-out group-hover:text-[#7c7c7c]" >Terminal</span>   
                    </li>
                </ul>
                </article>

</section>

<style>

ul li {
  transition: transform 0.3s, border-color .4s ;
}

ul li:hover {
  transform: scale(1.1);
}
ul li svg {
  transition: transform 0.3s, color 0.3s; 
}



</style>