---
import Html from '../components/icons/Html.astro'
import Css from '../components/icons/Css.astro'
import Js from '../components/icons/Js.astro'
import Ts from '../components/icons/Ts.astro'
import React from '../components/icons/React.astro'
import Redux from '../components/icons/Redux.astro'
import Python from '../components/icons/Python.astro'
import Rocket from '../components/icons/Rocket.astro'
import Tailwind from '../components/icons/Tailwind.astro'
import Next from '../components/icons/NextJS.astro'
import Sass from '../components/icons/Sass.astro'
import Bootstrap from '../components/icons/Bootstrap.astro'
import Figma from '../components/icons/Figma.astro'
import Php from '../components/icons/Php.astro'
import NextJS from './icons/NextJS.astro'
import Vs from './icons/Vs.astro'
import Git from './icons/Git.astro'
import Npm from './icons/Npm.astro'
import Terminal from './icons/Terminal.astro'
import GitHub from './icons/GitHub.astro'
import Mysql from './icons/MySql.astro'
import Apache from './icons/Apache.astro'


---

<section class="grid lg:grid-cols-2 lg:grid-rows-2 gap-6 lg:place-content-center">

    <article class="relative rounded-2xl p-6 dark:border  dark:border-dark-900 bg-gradient-to-r  dark:from-dark-950 dark:to-black shadow-2xl overflow-hidden false">
    <div class="pointer-events-none absolute -inset-px opacity-0 transition duration-300" style="opacity: 0; background: radial-gradient(600px at 342px 13.0156px, rgba(255, 182, 255, 0.1), transparent 40%);"></div>
    <h3 class="text-center mb-8 text-xl font-bold  lg:text-4xl lg:break-words bg-gradient-to-t from-[#5468ff] to-[#493ce2] dark:from-[#c9fffe] dark:to-[#5520f2] bg-clip-text  text-transparent">Front</h3>
    <ul class="grid grid-cols-3 gap-4 ">
        <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
        <Html class="size-16 hover:text-[#E34F26]"/>    
        
        
        HTML</span>   
        </li>
        <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
            <Css class="size-12 mb-2 mt-1 hover:text-blue-500"/>    
            
            
            CSS</span>   
        </li>
        <li class=" rounded-2xl  group flex flex-col fle justify-center items-center pb-1">
            <Js class="size-16 hover:text-[#F7DF1E]"/>    
            
            
            JavaScript</span>   
        </li>
        <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
            <React class="size-16 hover:text-[#61DAFB]"/>    
            
            
            React</span>   
        </li>
        <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
            <Figma class="size-12 mb-2 mt-2 hover:text-[#0ACF83]"/>    
            
            
            Figma</span>   
        </li>
        <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
            <Tailwind class="size-16 hover:text-[#38B2AC]"/>    
            
            
            TailwindCSS</span>   
        </li>
        <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
            <Bootstrap class="size-16 hover:text-[#563D7C]"/>    
            
            
            Bootstrap</span>   
        </li>
        <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
            <Sass class="size-16 pl-1 hover:text-[#CC6699]" />    
            
            
            SASS</span>   
        </li>
    </ul>
    </article>

    <article class="relative rounded-2xl p-6 dark:border  dark:border-dark-900 bg-gradient-to-r  dark:from-dark-950 dark:to-black shadow-2xl overflow-hidden false">
        <div class="pointer-events-none absolute -inset-px opacity-0 transition duration-300" style="opacity: 0; background: radial-gradient(600px at 342px 13.0156px, rgba(255, 182, 255, 0.1), transparent 40%);"></div>
        <h3 class="text-center mb-8 text-xl font-bold  lg:text-4xl lg:break-words bg-gradient-to-t from-[#54fbff] to-[#00a4c9] dark:from-[#c9fffe] dark:to-[#00cfef] bg-clip-text  text-transparent">Back</h3>
        <ul class="grid grid-cols-3 gap-4 ">
            <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
            <Php class="size-16 hover:text-[#8892BF]"/>    
            
            
            PHP</span>   
            </li>
            <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
                <Mysql class="size-16 hover:text-[#00758F]"/>    
                
                
                MySQL</span>   
            </li>
            <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
                <Apache class="size-16 hover:text-[#cc6f72]"/>    
                
                
                Apache</span>   
            </li>
            
        </ul>
        </article>

        <article class="relative rounded-2xl p-6 dark:border  dark:border-dark-900 bg-gradient-to-r  dark:from-dark-950 dark:to-black shadow-2xl overflow-hidden false">
            <div class="pointer-events-none absolute -inset-px opacity-0 transition duration-300" style="opacity: 0; background: radial-gradient(600px at 342px 13.0156px, rgba(255, 182, 255, 0.1), transparent 40%);"></div>
            <h3 class="text-center mb-8 text-xl font-bold  lg:text-4xl lg:break-words bg-gradient-to-t from-[#54fbff] to-[#00a4c9] dark:from-[#c9fffe] dark:to-[#00cfef] bg-clip-text  text-transparent">Aprendiendo</h3>
            <ul class="grid grid-cols-3 gap-4 ">
                <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
                <NextJS class="size-16 hover:text-[#292929]"/>    
                
                
                NextJS</span>   
                </li>
                <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
                    <Python class="size-16 hover:text-[#306998]"/>    
                    
                    
                    Python</span>   
                </li>
                <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
                    <Redux class="size-16 hover:text-[#764ABC]"/>    
                    
                    
                    Redux</span>   
                </li>
                <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
                    <Rocket class="size-16 pl-1 hover:text-[#d45f3b]"/>    
                    
                    Astro</span>   
                </li>
            </ul>
            </article>

            <article class="relative rounded-2xl p-6 dark:border  dark:border-dark-900 bg-gradient-to-r  dark:from-dark-950 dark:to-black shadow-2xl overflow-hidden false">
                <div class="pointer-events-none absolute -inset-px opacity-0 transition duration-300" style="opacity: 0; background: radial-gradient(600px at 342px 13.0156px, rgba(255, 182, 255, 0.1), transparent 40%);"></div>
                <h3 class="text-center mb-8 text-xl font-bold  lg:text-4xl lg:break-words bg-gradient-to-t from-[#54fbff] to-[#00a4c9] dark:from-[#c9fffe] dark:to-[#00cfef] bg-clip-text  text-transparent">Tools</h3>
                <ul class="grid grid-cols-3 gap-4 ">
                    <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
                    <Vs class="size-16 hover:text-[#007ACC]"/>    
                    
                    
                    VSCode</span>   
                    </li>
                    <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
                        <Git class="size-16 hover:text-[#F05032]"/>    
                        
                        
                        Git</span>   
                    </li>
                    <li class=" rounded-2xl  group flex flex-col fle justify-center items-center pb-1">
                        <Npm class="size-16 pt-1 hover:text-[#CB3837]"/>    
                        
                        
                        npm</span>   
                    </li>
                    <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
                        <GitHub class="size-14 hover:text-[#4078c0]"/>    
                        
                        
                        GitHub</span>   
                    </li>
                    <li class=" rounded-2xl  group flex flex-col fle justify-center items-center pb-2">
                        <Terminal class="size-16 p-1 hover:text-[#7c7c7c]"/>    
                        
                        
                        Terminal</span>   
                    </li>
                </ul>
                </article>




</section>