---
import "@fontsource-variable/onest"

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import { ViewTransitions } from "astro:transitions"

interface Props {
  title: string
  description: string
}

const { description, title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body class="scrollbar scrollbar-thumb-indigo-700 bg-deepBlue">

    <!-- scrollbar-thumb-blue-800 
    scrollbar-thumb-light3
  -->

   
    <div class="light1 bg-light1 fixed"></div>
    <div class="light2 bg-light2 fixed"></div>
    <div class="light3 bg-light3 fixed"></div>



    <Header />
    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      body {
        color: rgba(255, 255, 255, 0.9);
        display: flex;
        flex-direction: column;
        min-height: 100vh;

      }

      .light1 {
        width: 500px;
        height: 500px;
        border-radius: 100%;
        filter: blur(157px);
        display: flex;
        justify-content: flex-start;
        z-index: -1;
        top: 0; /* Posición arriba */
        left: 0; /* Posición a la izquierda */
      }

      .light2 {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        filter: blur(110px);
        display: flex;
        justify-content: flex-start;
        z-index: -1;
        top: 200px; /* Posición arriba */
        left: 350px; /* Posición a la izquierda */
        opacity: 1;
      }

      .light3 {
        width: 420px;
        height: 420px;
        border-radius: 100%;
        filter: blur(150px);
        display: flex;
        justify-content: flex-end;
        z-index: -1;
        bottom: 0; /* Posición abajo */
        right: 0; /* Posición a la derecha */
      }


      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      @media (prefers-color-scheme: dark) {
        body {
          color: rgba(255, 255, 255, 0.9);
        }
      }

      #header-nav {
        animation: blur linear both 0.5s;
        animation-timeline: scroll();
        animation-range: 0 500px;
      }

      @keyframes blur {
        to {
          backdrop-filter: blur(20px);
          border-width: 1px;
          border-color: rgba(0, 0, 0);
          padding: 0.25rem 0.75rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: rgb(229, 229, 229);
          border-radius: 9999px;
        }
      }

      @media (prefers-color-scheme: dark) {
        @keyframes blur {
          from {
            border: 0px;
          }
          to {
            box-shadow:
              0px 5px 50px -5px rgba(0, 0, 0, 0.1),
              0px 0px 0 1px rgba(0, 0, 0, 0.3);
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(20px);
            border-width: 1px;
            border-color: rgba(0, 0, 0);
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 9999px;
          }
        }
      }
    </style>
  </body>
</html>